body{
background-image: linear-gradient(180deg, rgb(255, 76, 195), rgb(255, 154, 72), rgb(255, 252, 61));
color:lightgreen;
}
h1{
    background-color: rgb(187, 245, 225);
    width:25%;
    border-style: dashed;
    color:rgb(255, 255, 255);
}
button{
    width:100px;
    height: 50px;
    color:rgb(255, 255, 255); 
}

   